body {
	font-family: Alice, Roboto, sans-serif;
	box-sizing: border-box;
	border: 5px;
	margin: 5px;
	padding: 0 5%;
	background: azure;
}

h1 {
	text-align: center;
}

img {
	display: block;
	margin: auto;
	width: 100%;
}

h1,
h3 {
	font-family: "Times New Roman", serif;
}

